WEBHOOK = 'https://discord.com/api/webhooks/example'
#APPID AND HASH https://core.telegram.org/api/obtaining_api_id
APPID = "123" 
APIHASH = "bcdddexample123123" #
APINAME = "Telegram To Discord" # Any string will do
DLLOC = './temp/' # Temp storage for media, inside the working directory; must exist before starting

## Filter Channels Examples
# You can get ID's from the URL's https://web.telegram.org/
#INPUT_CHANNELS = 12
#INPUT_CHANNELS = 13,14